.dark-theme {
  --background: #202020;
  --dark-background: #181818;
  --search-background: #121212;
  --search-dark-background: #181818;
  --search-icon-background: #323232;

  --search-border: #303030;

  --text: #ffffff;

  --yt-red: #ff0000;
}

.light-theme {
  --background: #ffffff;
  --dark-background: #181818;
  --search-background: #ffffff;
  --search-dark-background: #f9f9f9;
  --search-icon-background: #f8f8f8;

  --search-border: #cccccc;

  --text: #030303;

  --yt-red: #ff0000;
}

// backgrounds
$background: var(--background);
$dark_background: var(--dark-background);
$search_background: var(--search-background);
$search-dark-background: var(--search-dark-background);
$search-icon-background: var(--search-icon-background);

// borders
$search_border: var(--search-border);

//texts
$text: var(--text);

// others
$yt_red: var(--yt-red);
